<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Username Database</h1>
    <% if (usernames.length === 0) {%>
        <p>There are no users. Be the first to add one</p>
    <%} else {%>
        <form action="/" method="GET">
            <input type="text" name="search" id="search" placeholder="Search Username">
            <button type="submit">Search</button>
        </form>
            <% if (searchQuery && noMatches) {%>
                <h2>Showing Search Results for "<%=searchQuery%>"</h2>
                <p>No users matched your search</p>
            <%}%>
        <% if (searchResults && searchResults.length > 0) {%>
            <h2>Showing Search Results for "<%=searchQuery%>":</h2>
            <ul>
                <% searchResults.forEach(result => {%>
                    <li><%= result.username%></li>
                <%})%>
            </ul>
        <%}%>
        
        <h2>All Users:</h2>
        <ul>
            <% usernames.forEach(user => {%>
                <li><%= user.username %></li>
            <%})%>
        </ul>
    <%}%>
    <br>
    <a href="/new">Add username</a>
</body>
</html>
