<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Username Database</h1>
    <% if (usernames.length === 0) {%>
        <p>There are no users. Be the first to add one</p>
    <%} else {%>
        <!-- Search is only available when there are users -->
        <%- include("partials/searchBar") %>

        <!-- Renders when a search has been run -->
        <% if (searchQuery) {%>
           <h2>Showing Search Results for "<%=searchQuery%>"</h2>
           <% if (noMatches) {%>
            <p>No users matched your search</p>
           <%} else {%>
                <ul>
                    <% searchResults.forEach(result => {%>
                        <li><%= result.username%></li>
                    <%})%>
                </ul>
           <%}%>
        <%}%>
        
        <!-- Displays all existing users -->
        <h2>All Users:</h2>
        <ul>
            <% usernames.forEach(user => {%>
                <li><%= user.username %></li>
            <%})%>
        </ul>
    <%}%>
    <br>
    <a href="/new">Add username</a>
</body>
</html>
