<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Username Database</h1>
    <% if (usernames.length === 0) {%>
        <p>There are no users. Be the first to add one</p>
    <%} else {%>
        <!-- Search existing users -->
        <%- include("partials/searchBar") %>

        <!-- Renders when a search has been run -->
        <% if (searchQuery) {%>
            <%- include("partials/errors") %>
            <%- include("partials/searchResults", {searchQuery, noMatches, searchResults}) %>
        <%}%>
        
        <!-- Displays all existing users -->
        <%- include("partials/allUsers") %>
    <%}%>
    <a href="/new">Add username</a><br><br><br>
    <% if (usernames.length > 0) {%>
        <a href="/delete" onclick="return confirm('Are you sure you want to delete all users? This cannot be undone.')">Delete all users</a>
    <%}%>
</body>
</html>
