<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Usernames</h1>
    <% if (usernames.length === 0) {%>
        <p>There are no users. Be the first to add one</p>
    <%} else {%>
        <form action="/" method="GET">
            <input type="text" name="search" id="search" placeholder="Search Username">
            <button type="submit">Search</button>
        </form>
        <ul>
            <% usernames.forEach(user => {%>
                <li><%= user.username %></li>
            <%})%>
        </ul>
    <%}%>
    <br>
    <a href="/new">Add username</a>
</body>
</html>
